/* Pretty printing styles. Used with prettify.js. */

.str { color: #080; }
.kwd { color: #008; }
.com { color: #800; }
.typ { color: #606; }
.lit { color: #066; }
.pun { color: #660; }
.pln { color: #000; }
.tag { color: #008; }
.atn { color: #606; }
.atv { color: #080; }
.dec { color: #606; }

@media print {
  .str { color: #060; }
  .kwd { color: #006; font-weight: bold; }
  .com { color: #600; font-style: italic; }
  .typ { color: #404; font-weight: bold; }
  .lit { color: #044; }
  .pun { color: #440; }
  .pln { color: #000; }
  .tag { color: #006; font-weight: bold; }
  .atn { color: #404; }
  .atv { color: #060; }
}

@media screen and ( prefers-color-scheme: dark ) {
  .str { color: #090; }
  .kwd { color: #009; }
  .com { color: #f77; }
  .typ { color: #b0b; }
  .lit { color: #0bb; }
  .pun { color: #bb0; }
  .pln { color: #fff; }
  .tag { color: #77f; font-weight: bold; }
  .atn { color: #f7f; }
  .atv { color: #7f7; }
}
